<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlttkhach">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLTTKhach">
        <activity
            android:name=".Grid_HoaDonTong"
            android:exported="false" />
        <activity
            android:name=".Grid_HoaDon"
            android:exported="false" />
        <activity
            android:name=".HoaDonGDChinh"
            android:exported="false"
            android:parentActivityName=".GiaoDienNV" />
        <activity
            android:name=".HoaDonTong"
            android:exported="false"
            android:parentActivityName=".HoaDonGDChinh" />
        <activity
            android:name=".EditChiTietThue"
            android:exported="false"
            android:parentActivityName=".ChiTietThue" />
        <activity
            android:name=".GridChiTiet"
            android:exported="false" />
        <activity
            android:name=".DangKyTaiKhoan"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HoaDon"
            android:exported="false"
            android:parentActivityName=".HoaDonGDChinh" />
        <activity
            android:name=".XemChiTiet"
            android:exported="false"
            android:parentActivityName=".ChiTietThue" />
        <activity
            android:name=".GiaoDienNV"
            android:exported="false" />
        <activity
            android:name=".ChiTietThue"
            android:exported="false"
            android:parentActivityName=".GiaoDienNV" />
        <activity
            android:name=".ThemKhachMoi"
            android:exported="false"
            android:parentActivityName=".GiaoDienNV" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>